<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	<appSettings>
		<add key="modelPath" value="C:\projects\Magistrados2\MagistradosConsoleApp\Model\" />
		<add key="configPath" value="C:\projects\Magistrados2\MagistradosConsoleApp\Config\" />
		<add key="dataClassesPath" value="C:\projects\Magistrados2\MagistradosWpfApp\Data\" />
		<add key="dataClassesNamespace" value="MagistradosWpfApp.Data" />
		<add key="modelClassPath" value="C:\projects\Magistrados2\MagistradosWpfApp\" />
		<add key="modelClassNamespace" value="MagistradosWpfApp" />
		<add key="connectionString" value="server=localhost;database=magistrados2;uid=root;" />
		<add key="dbName" value="magistrados2" />
	</appSettings>
</configuration>

