<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	<appSettings>
		<add key="docPath" value="C:\projects\magistrados2\MagistradosConsoleApp\Doc\" />
		<add key="configPath" value="C:\projects\magistrados2\MagistradosConsoleApp\Config\" />
		<add key="dataClassesPath" value="C:\projects\magistrados2\MagistradosWpfApp\Model\" />
		<add key="dataClassesNamespace" value="MagistradosWpfApp.Model" />
		<add key="schemaClassPath" value="C:\projects\magistrados2\MagistradosWpfApp\" />
		<add key="schemaClassNamespace" value="MagistradosWpfApp" />
		<add key="connectionString" value="server=localhost;database=magistrados2;uid=root;" />
		<add key="dbName" value="magistrados2" />
	</appSettings>
</configuration>

