<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	<appSettings>
		<add key="docPath" value="C:\projects\Project1\Model\Doc\" />
		<add key="configPath" value="C:\projects\Project1\Model\Config\" />
		<add key="dataClassesPath" value="C:\projects\Project1\WpfApp\Data\" />
		<add key="dataClassesNamespace" value="WpfApp.Data" />
		<add key="schemaClassPath" value="C:\projects\Project1\WpfApp\" />
		<add key="schemaClassNamespace" value="WpfApp" />
		<add key="connectionString" value="server=localhost;database=dbname;uid=root;" />
		<add key="dbName" value="dbname" />
	</appSettings>
</configuration>

